<div class="container-fluid" style="width: 200%;">
    <h4 style="align-items: center;text-emphasis: unset; margin-left: 35%;;font-family: Calibri, 'Trebuchet MS', sans-serif;">
      Register New Api Portal</h4>   
    <br>   
    <mat-tab-group  mat-align-tabs="center" style="align-content:stretch;">
        
        <!-- <mat-tab label="Create New Post Api"> <app-post-api></app-post-api> </mat-tab> -->
        <mat-tab label="Register new Apis"> <app-createnewapi></app-createnewapi> </mat-tab>
        <mat-tab label="Register existing Api"> <app-register-api></app-register-api> </mat-tab>

    </mat-tab-group>
    
              
</div>
<router-outlet></router-outlet>