<div class= "row pt-3 pb-3">
    <div class="col-sm-2"></div>
    <div class="col-sm-10 center-block">
<div class="card bg-light" style="width: 40rem;">
    <div class="card-body">
        <h5 class="card-title">
            Register API Endpoint
        </h5>
            <div>
                    <form [formGroup]="options">
                        <div>
                            <label class="pr-3">API Endpoint type: </label>
                            <mat-radio-group  formControlName="floatLabel">  
                                <mat-radio-button class="pr-2" value="GET">GET</mat-radio-button>
                                <mat-radio-button class="pr-2" value="POST">POST</mat-radio-button>
                                <mat-radio-button class="pr-2" value="PUT">PUT</mat-radio-button>
                                <mat-radio-button class="pr-2" value="DELETE">DELETE</mat-radio-button>
                            </mat-radio-group>
                        </div>
                    </form>
                </div>
                <div class="col-sm-12">
                    <div class="example-container">
                        <mat-form-field>
                            <input matInput id="endpoint" name="endpoint" [(ngModel)]="registerApi.endpoint" placeholder="Enter API endpoint" >
                        </mat-form-field>
                
                        <mat-form-field>
                            <input [(ngModel)]="requestParamNo" type="number" matInput #input placeholder="Enter number of request parameters">
                        </mat-form-field>
                        <div class="row">
                            <div class="col-sm-3">
                            <button type="button" class="btn btn-primary" (click)="addInput()">
                                Add
                            </button>
                            </div>
                        </div>
                        <div *ngFor="let n of arr">
                            <mat-form-field>
                                <input matInput [(ngModel)]="requestParameters[n]" placeholder="Parameter name">
                            </mat-form-field>
                                <mat-form-field class="pl-2" *ngIf="options.value.floatLabel=='GET' || options.value.floatLabel=='DELETE' ">
                                    <mat-select placeholder="Select api type" [(ngModel)] = "requestTypes[n]">
                                    <mat-option value="param">Url parameter</mat-option>
                                    <mat-option value="header">Request header</mat-option>
                                    </mat-select>
                                </mat-form-field>
                                <mat-form-field class="pl-2" *ngIf="options.value.floatLabel=='POST' || options.value.floatLabel=='PUT' ">
                                    <mat-select placeholder="Select api type" [(ngModel)] = "requestTypes[n]">
                                        <mat-option value="param">Url parameter</mat-option>
                                        <mat-option value="header">Request header</mat-option>
                                        <mat-option value="body">Request body</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            <mat-form-field class="pl-2">
                                <input matInput [(ngModel)]="requestValues[n]" placeholder="testing value">
                            </mat-form-field>
                        </div>
                        <mat-form-field>
                            <input [(ngModel)]="reponseParamNo" type="number" matInput #input placeholder="Enter number of response parameters">
                        </mat-form-field>
                        <div class="row">
                            <div class="col-sm-3">
                            <button type="button" class="btn btn-primary" (click)="addInputResponse()">
                                Add
                            </button>
                            </div>
                        </div>
                        <div *ngFor="let n of arrResponse">
                            <mat-form-field>
                                <input matInput [(ngModel)]="responseParameters[n]" placeholder="Parameter name">
                            </mat-form-field>
                            <mat-form-field class="pl-2">
                                <mat-select placeholder="Select api type" [(ngModel)] = "responseTypes[n]">
                                <mat-option value="object">Object</mat-option>
                                <mat-option value="string">String</mat-option>
                                <mat-option value="integer">Integer</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                </div>
                <div class= row>
                    <div class="col-sm-12 text-center">
                        <button type="button" class="btn btn-primary" (click)="registerApiSubmit()">
                            Submit
                        </button>
                    </div>
                </div>   
    </div>
</div>
</div>
</div>
