<div class="example-container" style="margin-left: 30%;"> 
    <br>
    <br>
    <a>http://localhost:4001/api/  </a>
    <mat-form-field>
      <input matInput placeholder="URL endpoint" [formControl]="email" required>
      <!-- <mat-error *ngIf="email.invalid">{{getErrorMessage()}}</mat-error> -->
    </mat-form-field>
    <br>
    
    <!-- <button style="padding: 10px; margin-bottom: 10px; margin-left: 20px; " type="button" (click)="addtoUrlList()" class="btn btn-success">get url endpoints</button> -->
    <mat-card *ngFor="let item of URL_list[0]">
        <div>
            {{item.url}}
            <br>
           
<!-- cutom attribute silector -->
            <b>attributes :</b>
            <br>
            <div *ngFor="let attrb of item.responseAttributes">
                <mat-checkbox style="padding: 10px;"  (click) ="changeidtominus(item,attrb)" style="font-family: 'Courier New', Courier, monospace; margin-top: 30px;">{{attrb.attribute}} </mat-checkbox>
                <a style="margin-bottom: 20px; align-content: center;padding: 5px; font-family: 'Courier New', Courier, monospace;" >   mapping : 
                    <input value ="" id="mappings-{{attrb.attribute}}"  type="text" style="border-radius: 5%;"> 
                    <button (click)="addmapping(attrb.attribute)" class="sm-btn btn-dark" style="padding-left: 10px; margin-left: 10px;">Submit</button>
                </a>
                

            </div>
            <div class="">
                <br>
                <button type="button" (click)="addtoUrlList(item)" class="btn btn-primary">Add to Api List</button>
            </div>
         
        </div>
    </mat-card>

  </div>